<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WELCOME TO MY PRACTICE WORLD</title>
</head>
<body>
<div class="container">
  <h1 align="center" >EDIT EXISTING ARTICLE</h1>
<%=render partial: 'form' %>
<%= link_to 'Delete this articles', articles_path %>

</div>
</body>
</html>