<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WELCOME TO MY PRACTICE WORLD</title>
</head>
<body>
<div class="container">
  <header>EDIT EXISTING ARTICLE</header>
<%=render partial: 'form' %>
<%= link_to 'Delete this articles', articles_path %>
<%= link_to 'Back to articles', articles_path %>

</div>
</body>
</html>