<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WELCOME TO MY PRACTICE WORLD</title>
</head>
<body>
<div class="container">
  <header>ABOUT US WORLD</header>
  <div class="flex-container ">
  <aside><%= image_tag 'prisha.jpg', alt: "Not found Prisha.jpg", size: 20* 20%>
    <br><%= link_to 'HOMEPAGE', root_path   %></aside>
    <p> I AM PASSIONATE ENOUGH TO GET SUCCESS<br>
      I know hardwork always pays off, thats why keeping my patience to get successful one day. </p>
  <article> I am looking for something demanding and technically challenging so that I can enhance my learning skills</article>
</div>
</div>
</body>
</html>