<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Homepage</title>
</head>
<body>
<div class="container">
  <header>WELOME TO PAGES WORLD</header>
  <div class="flex-container ">
    <p>This alpha blog post contains articles. Articles contain information about title of article and description of articles. </p>
  </div>
  <aside>
    <%= link_to 'Articles', articles_path %> |
    <%= link_to 'About', about_path   %></aside>
</div>
</body>
</html>